{% extends 'base.html.twig' %}

{% block body %}

    <br>
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">ecrit le {{ article.createdAt|date('d/m/y') }} dans la catégorie Politique</div>
        <div class="content">
            <img src="{{ article.image }}" alt="img">
            {{ article.content|raw }}
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Quos saepe tempora sint adipisci quas aliquid, mollitia eveniet voluptatem minus voluptates eum facere qui aperiam, 
            cum fugiat provident iusto in? Fuga debitis nemo, commodi sit iusto minus rem odit delectus suscipit ipsam neque iste odio. 
            Eveniet quae dolore laudantium odit hic.</p>
            <p>Nostrum fugiat id asperiores, repellendus natus magni ut eius cupiditate facilis debitis soluta 
            aut eum illum suscipit ullam vitae porro accusamus dolor explicabo ipsa assumenda hic dolore? 
            Tempore natus nisi possimus consectetur est quam non, quasi optio ea ullam obcaecati, itaque, 
            distinctio eius? Ex ipsa ratione quam, dolorem tenetur sunt!</p>
        </div>
    </article>

{% endblock %}